C:*
surefire
target
classes
installfolder
integrationTest/testReference
*.pyc
*~
*.log
*.swp
*.serial
/.apt_generated/
.factorypath
*.out
*.pdf
*.toc
*.aux
*.bbl
*.blg
doc/settings/version
.project
.classpath
.settings
/bin/
